In [ ]:

What is the date of entry for the UK Albums Top 75 chart?
select MAX date where Chart = 75

================================================

What was the total number of weeks on peak for the Ireland Albums Top 75 chart?
select COUNT number where Chart = 75

================================================

What is the exit date for the Dutch Albums Top 100 Chart?
select SUM date where Chart = 100

================================================

What is the title of the episode with the production code 624?
select  title where Production code = 624

================================================

what's the total number of species in the peruvian amazon with 8411 species in the world 
select COUNT number where Species in the world = 8411

================================================

what's the species in the world with peruvian amazon vs. peru (percent)  of 63
select MAX species where Peruvian Amazon Vs. Peru (Percent) = 63

================================================

what's the minimum species in the peruvian amazon with species in peru of 1000
select MIN species where Species in Peru = 1000

================================================

what's the minimum species in the peruvian amazon with peru vs. world (percent) value of 7
select MIN species where Peru Vs. world (Percent) = 7

================================================

what's the maximum peru vs. world (percent) with 9672 species in the world 
select MAX peru where Species in the world = 9672

================================================

What school did the forward whose number is 10 belong to?
select SUM school where No.(s) = 10

================================================

================================================

What was the evening gown score when the swimsuit was 9.61?
select SUM score where Swimsuit = 9.61

================================================

What is the swimsuit score when the interview was 9.74?
select SUM score where Interview = 9.74

================================================

Which country had an interview score of 9.40 and average of 9.44?

================================================

Which country had the swimsuit score 9.67?
select MAX country where Swimsuit = 9.67

================================================

What was the average for the country with the swimsuit score of 9.57?
select AVG average where Swimsuit = 9.57

================================================

What is the date of Game 50?
select SUM date where Game = 50

================================================

Who scored the most points in Game 49?
select MAX Who where Game = 49

================================================

================================================

What is the team located at philips arena 18,227?
select COUNT team where Location Attendance = 18,227

================================================

what are all the records with a score is w 98–91
select COUNT records where Score = 98–91

================================================

what records have a score of l 109–116 2 ot

================================================

who are all the visitor with a record of 25–18
select  who where Record = 25–18

================================================

Which visitors have a leading scorer of roy : 25
select MAX visitors where Leading scorer = 25

================================================

what is the total number of dates where the scorer is gordon : 32
select COUNT number where Leading scorer = 32

================================================
================================================

How many times was the # of total votes 2582322?
select COUNT times where # of total votes = 2582322

================================================

What year was the election when the # of seats won was 65?
select MAX election where # of seats won = 65

================================================

What is the election year when the # of candidates nominated was 262?
select SUM year where # of candidates nominated = 262

================================================
Who is the top scorer where gf is 41?
select MAX scorer where GF = 41

================================================

How many goals were scored in the 2005-06 season?

================================================

How many seasons had a rank of 16?
select COUNT seasons where Rank = 16

================================================

Who is the manager whose rank is 16?
select MIN manager where Rank = 16

================================================

What was the result of the Top 3 episode?
select MAX result where Episode = 3

In [1]:
import json

data_path_mapping = '/root/projects/description2sql/data/dev.jsonl'
data_path_tables = '/root/projects/description2sql/data/dev.tables.jsonl'
synthesized_dataset = './dev_demo.json'

def get_data(path):
    with open(path, 'r') as fp:
        json_data = (list(map(json.loads, fp.readlines())))
    return json_data

In [2]:
q_list = [
    "What is the date of entry for the UK Albums Top 75 chart?",
    "What was the total number of weeks on peak for the Ireland Albums Top 75 chart",
    "What is the exit date for the Dutch Albums Top 100 Chart?",
    "What is the title of the episode with the production code 624?",
    "what's the species in the world with peruvian amazon vs. peru (percent)  of 63",
    "what's the minimum species in the peruvian amazon with species in peru of 1000",
    "what's the maximum peru vs. world (percent) with 9672 species in the world",
    "What school did the forward whose number is 10 belong to?",
    "What was the evening gown score when the swimsuit was 9.61?",
    "What is the swimsuit score when the interview was 9.74?",
    "Which country had an interview score of 9.40 and average of 9.44?",
    "Which country had the swimsuit score 9.67?",
    "What was the average for the country with the swimsuit score of 9.57?",
    "What is the date of Game 50?",
    "Who scored the most points in Game 49?",
    "What is the team located at philips arena 18,227?",
    "what are all the records with a score is w 98–91",
    "who are all the visitor with a record of 25–18",
    "Which visitors have a leading scorer of roy : 25",
    "what is the total number of dates where the scorer is gordon : 32",
    "How many times was the # of total votes 2582322?",
    "What year was the election when the # of seats won was 65?",
    "What is the election year when the # of candidates nominated was 262?",
    "Who is the top scorer where gf is 41?",
    "How many goals were scored in the 2005-06 season?",
    "How many seasons had a rank of 16?",
    "Who is the manager whose rank is 16?",
    "What was the result of the Top 3 episode?"
]

In [8]:
tab_list = list()
test_mapping = list()

In [3]:
mapping = get_data(data_path_mapping)

In [4]:
tabs = get_data(data_path_tables)

In [21]:
mapping[0]

{'phase': 1,
 'table_id': '1-10015132-11',
 'question': 'What position does the player who played for butler cc (ks) play?',
 'sql': {'sel': 3, 'conds': [[5, 0, 'Butler CC (KS)']], 'agg': 0}}

In [9]:
for each_q in q_list:
    for each_map in mapping:
        if each_q == each_map['question']:
            tab_list.append(each_map['table_id'])
            test_mapping.append(each_map)

In [20]:
len(test_mapping)

24

In [11]:
len(tab_list)

24

In [12]:
tab_list = set(tab_list)

In [13]:
len(tab_list)

10

In [16]:
tab_list = list(tab_list)

In [15]:
test_tables = list()

In [18]:
for tab_id in tab_list:
    for each_tab in tabs:
        if tab_id == each_tab['id']:
            test_tables.append(each_tab)

In [19]:
len(test_tables)

10

In [22]:
for idx in range(len(test_tables)):
    test_tables[idx]['questions'] = [m for m in test_mapping if m['table_id'] == test_tables[idx]['id']]

In [34]:
test_tables[2]['questions']

[{'phase': 1,
  'table_id': '1-11884814-3',
  'question': 'What was the evening gown score when the swimsuit was 9.61?',
  'sql': {'sel': 3, 'conds': [[2, 0, '9.61']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-11884814-3',
  'question': 'What is the swimsuit score when the interview was 9.74?',
  'sql': {'sel': 2, 'conds': [[1, 0, '9.74']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-11884814-3',
  'question': 'Which country had an interview score of 9.40 and average of 9.44?',
  'sql': {'sel': 0, 'conds': [[1, 0, '9.40'], [4, 0, '9.44']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-11884814-3',
  'question': 'Which country had the swimsuit score 9.67?',
  'sql': {'sel': 0, 'conds': [[2, 0, '9.67']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-11884814-3',
  'question': 'What was the average for the country with the swimsuit score of 9.57?',
  'sql': {'sel': 4, 'conds': [[2, 0, '9.57']], 'agg': 0}}]

In [35]:
main_test = list()
main_test.append(test_tables[2])
main_test.append(test_tables[4])
main_test.append(test_tables[5])
main_test.append(test_tables[6])

In [36]:
main_test

[{'header': ['Country', 'Interview', 'Swimsuit', 'Evening Gown', 'Average'],
  'page_title': 'Miss Teen USA 1997',
  'types': ['text', 'text', 'text', 'text', 'text'],
  'id': '1-11884814-3',
  'section_title': 'Final competition scores',
  'caption': 'Final competition scores',
  'rows': [['Tennessee', '9.74', '9.75', '9.75', '9.75'],
   ['Illinois', '9.60', '9.67', '9.75', '9.67'],
   ['Kansas', '9.55', '9.59', '9.70', '9.61'],
   ['North Carolina', '9.55', '9.61', '9.54', '9.57'],
   ['Oklahoma', '9.60', '9.57', '9.46', '9.54'],
   ['Hawaii', '9.40', '9.51', '9.64', '9.52'],
   ['Virginia', '9.50', '9.33', '9.58', '9.47'],
   ['North Dakota', '9.40', '9.32', '9.60', '9.44'],
   ['Massachusetts', '9.36', '9.42', '9.47', '9.42']],
  'name': 'table_11884814_3',
  'questions': [{'phase': 1,
    'table_id': '1-11884814-3',
    'question': 'What was the evening gown score when the swimsuit was 9.61?',
    'sql': {'sel': 3, 'conds': [[2, 0, '9.61']], 'agg': 0}},
   {'phase': 1,
    'table_id': '1-11884814-3',
    'question': 'What is the swimsuit score when the interview was 9.74?',
    'sql': {'sel': 2, 'conds': [[1, 0, '9.74']], 'agg': 0}},
   {'phase': 1,
    'table_id': '1-11884814-3',
    'question': 'Which country had an interview score of 9.40 and average of 9.44?',
    'sql': {'sel': 0, 'conds': [[1, 0, '9.40'], [4, 0, '9.44']], 'agg': 0}},
   {'phase': 1,
    'table_id': '1-11884814-3',
    'question': 'Which country had the swimsuit score 9.67?',
    'sql': {'sel': 0, 'conds': [[2, 0, '9.67']], 'agg': 0}},
   {'phase': 1,
    'table_id': '1-11884814-3',
    'question': 'What was the average for the country with the swimsuit score of 9.57?',
    'sql': {'sel': 4, 'conds': [[2, 0, '9.57']], 'agg': 0}}]},
 {'header': ['Season',
   'League',
   'Rank',
   'Games',
   'Points',
   'GF',
   'GA',
   'Manager',
   'Top Scorer',
   'Goals'],
  'page_title': 'De Graafschap',
  'types': ['text',
   'text',
   'real',
   'real',
   'real',
   'real',
   'real',
   'text',
   'text',
   'real'],
  'id': '1-1218784-1',
  'section_title': 'Results',
  'caption': 'Results',
  'rows': [['1999-00',
    'Eredivisie',
    14,
    34,
    33,
    41,
    60,
    'Rob McDonald',
    'Eric Viscaal',
    10],
   ['2000-01',
    'Eredivisie',
    15,
    34,
    31,
    44,
    66,
    'Jurrie Koolhof',
    'Marino Promes',
    8],
   ['2001-02',
    'Eredivisie',
    14,
    34,
    37,
    43,
    55,
    'Jurrie Koolhof',
    'Martijn Meerdink',
    10],
   ['2002-03',
    'Eredivisie',
    18,
    34,
    23,
    35,
    84,
    'Peter Bosz',
    'Hans van de Haar',
    11],
   ['2003-04',
    'Eerste divisie',
    6,
    36,
    64,
    63,
    43,
    'Frans Adelaar',
    'Jhon van Beukering / Hilmi Mihci',
    9],
   ['2004-05',
    'Eredivisie',
    17,
    34,
    23,
    32,
    78,
    'Gert Kruys / Andries Ulderink',
    'Jhon van Beukering',
    9],
   ['2005-06',
    'Eerste divisie',
    5,
    38,
    62,
    63,
    51,
    'Jan de Jonge',
    'Donny de Groot',
    13],
   ['2006-07',
    'Eerste divisie',
    1,
    38,
    83,
    88,
    41,
    'Jan de Jonge',
    'Berry Powel',
    29],
   ['2007-08',
    'Eredivisie',
    16,
    34,
    30,
    33,
    64,
    'Jan de Jonge',
    'Donny de Groot',
    8],
   ['2008-09',
    'Eredivisie',
    17,
    34,
    30,
    24,
    58,
    'Henk van Stee / Darije Kalezić',
    'Jason Oost / Ben Sahar',
    5],
   ['2009-10',
    'Eerste divisie',
    1,
    38,
    81,
    85,
    34,
    'Darije Kalezić',
    'Hugo Bargas',
    16]],
  'name': 'table_1218784_1',
  'questions': [{'phase': 1,
    'table_id': '1-1218784-1',
    'question': 'Who is the top scorer where gf is 41?',
    'sql': {'sel': 8, 'conds': [[5, 0, 41]], 'agg': 0}},
   {'phase': 1,
    'table_id': '1-1218784-1',
    'question': 'How many goals were scored in the 2005-06 season?',
    'sql': {'sel': 9, 'conds': [[0, 0, '2005-06']], 'agg': 0}},
   {'phase': 1,
    'table_id': '1-1218784-1',
    'question': 'How many seasons had a rank of 16?',
    'sql': {'sel': 0, 'conds': [[2, 0, 16]], 'agg': 3}},
   {'phase': 1,
    'table_id': '1-1218784-1',
    'question': 'Who is the manager whose rank is 16?',
    'sql': {'sel': 7, 'conds': [[2, 0, 16]], 'agg': 0}}]},
 {'header': ['#',
   'Date',
   'Visitor',
   'Score',
   'Home',
   'Leading scorer',
   'Attendance',
   'Record',
   'Streak'],
  'page_title': '2007–08 Portland Trail Blazers season',
  'types': ['real',
   'text',
   'text',
   'text',
   'text',
   'text',
   'text',
   'text',
   'text'],
  'id': '1-11964047-7',
  'section_title': 'January',
  'caption': 'January',
  'rows': [[32,
    'January 2',
    'Portland Trail Blazers',
    'W 90–79',
    'Minnesota Timberwolves',
    'Jefferson : 29',
    'Target Center 13,339',
    '19–13',
    'W1'],
   [33,
    'January 3',
    'Portland Trail Blazers',
    'W 115–109 2 OT',
    'Chicago Bulls',
    'Gordon : 32',
    'United Center 21,756',
    '20–13',
    'W2'],
   [34,
    'January 5',
    'Utah Jazz',
    'W 89–103',
    'Portland Trail Blazers',
    'Webster : 26',
    'Rose Garden 20,451',
    '21–13',
    'W3'],
   [35,
    'January 9',
    'Golden State Warriors',
    'W 91–109',
    'Portland Trail Blazers',
    'Blake : 24',
    'Rose Garden 20,415',
    '22–13',
    'W4'],
   [36,
    'January 13',
    'Portland Trail Blazers',
    'L 109–116 2 OT',
    'Toronto Raptors',
    'Bosh : 38',
    'Air Canada Centre 19,800',
    '22–14',
    'L1'],
   [37,
    'January 14',
    'Portland Trail Blazers',
    'W 99–73',
    'New Jersey Nets',
    'Aldridge : 20',
    'Izod Center 14,242',
    '23–14',
    'W1'],
   [38,
    'January 16',
    'Portland Trail Blazers',
    'L 90–100',
    'Boston Celtics',
    'Garnett : 36',
    'TD Banknorth Garden 18,624',
    '23–15',
    'L1'],
   [39,
    'January 18',
    'Portland Trail Blazers',
    'W 98–91',
    'Miami Heat',
    'Wade : 37',
    'AmericanAirlines Arena 19,600',
    '24–15',
    'W1'],
   [40,
    'January 19',
    'Portland Trail Blazers',
    'L 94–101',
    'Orlando Magic',
    'Roy : 25',
    'Amway Arena 17,519',
    '24–16',
    'L1'],
   [41,
    'January 21',
    'Portland Trail Blazers',
    'W 111–109 OT',
    'Atlanta Hawks',
    'Johnson : 37',
    'Philips Arena 17,400',
    '25–16',
    'W1'],
   [42,
    'January 23',
    'Portland Trail Blazers',
    'L 81–96',
    'New Orleans Hornets',
    'Pargo : 24',
    'New Orleans Arena 11,006',
    '25–17',
    'L1'],
   [43,
    'January 25',
    'Houston Rockets',
    'L 89–79',
    'Portland Trail Blazers',
    'Roy : 23',
    'Rose Garden 20,576',
    '25–18',
    'L2'],
   [44,
    'January 27',
    'Atlanta Hawks',
    'W 93–94',
    'Portland Trail Blazers',
    'Roy : 24',
    'Rose Garden 20,438',
    '26–18',
    'W1']],
  'name': 'table_11964047_7',
  'questions': [{'phase': 1,
    'table_id': '1-11964047-7',
    'question': 'what are all the records with a score is w 98–91',
    'sql': {'sel': 7, 'conds': [[3, 0, 'W 98–91']], 'agg': 0}},
   {'phase': 1,
    'table_id': '1-11964047-7',
    'question': 'who are all the visitor with a record of 25–18',
    'sql': {'sel': 2, 'conds': [[7, 0, '25–18']], 'agg': 0}},
   {'phase': 1,
    'table_id': '1-11964047-7',
    'question': 'Which visitors have a leading scorer of roy : 25',
    'sql': {'sel': 2, 'conds': [[5, 0, 'Roy : 25']], 'agg': 0}},
   {'phase': 1,
    'table_id': '1-11964047-7',
    'question': 'what is the total number of dates where the scorer is gordon : 32',
    'sql': {'sel': 1, 'conds': [[5, 0, 'Gordon : 32']], 'agg': 3}}]},
 {'header': ['Election',
   '# of candidates nominated',
   '# of seats won',
   '# of total votes',
   '% of popular vote'],
  'page_title': 'Progressive Conservative Party of Canada',
  'types': ['real', 'real', 'real', 'real', 'text'],
  'id': '1-123462-2',
  'section_title': 'Election results 1945–2000',
  'caption': 'Election results 1945–2000',
  'rows': [[1945, 203, 65, 1448744, '27.62%'],
   [1949, 249, 41, 1734261, '29.62%'],
   [1953, 248, 50, 1749579, '31.01%'],
   [1957, 256, 109, 2564732, '38.81%'],
   [1958, 265, 208, 3908633, '53.56%'],
   [1962, 265, 114, 2865542, '37.22%'],
   [1963, 265, 93, 2582322, '32.72%'],
   [1965, 265, 95, 2500113, '32.41%'],
   [1968, 262, 72, 2548949, '31.36%'],
   [1972, 265, 107, 3388980, '35.02%'],
   [1974, 264, 95, 3371319, '35.46%'],
   [1979, 282, 136, 4111606, '35.89%'],
   [1980, 282, 103, 3552994, '32.49%'],
   [1984, 282, 211, 6278818, '50.03%'],
   [1988, 295, 169, 5667543, '43.02%'],
   [1993, 295, 2, 2178303, '16.04%'],
   [1997, 301, 20, 2446705, '18.84%']],
  'name': 'table_123462_2',
  'questions': [{'phase': 1,
    'table_id': '1-123462-2',
    'question': 'How many times was the # of total votes 2582322?',
    'sql': {'sel': 2, 'conds': [[3, 0, 2582322]], 'agg': 3}},
   {'phase': 1,
    'table_id': '1-123462-2',
    'question': 'What year was the election when the # of seats won was 65?',
    'sql': {'sel': 0, 'conds': [[2, 0, 65]], 'agg': 0}},
   {'phase': 1,
    'table_id': '1-123462-2',
    'question': 'What is the election year when the # of candidates nominated was 262?',
    'sql': {'sel': 0, 'conds': [[1, 0, 262]], 'agg': 3}}]}]

In [38]:
with open(synthesized_dataset, 'w') as fp:
    json.dump(main_test, fp)